# 目录
build
# config
dist
env
node_modules
public
scripts
.husky
.idea
.vscode
.vite-inspect

# 根目录配置文件
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmrc
.prettierignore
package.json
prettier.config.cjs
commitlint.config.cjs
stylelint.config.cjs
lint-staged.config.cjs
README.md
CHANGELOG.md
tsconfig.json
tsconfig.node.json
yarn.lock
package-lock.json
index.html