# 本地开发环境需要和 npm 私服源地址保持一致
registry=https://registry.npmjs.org/

# https://docs.npmjs.com/cli/v6/using-npm/config?v=true#save-prefix
save-prefix="~"

# https://docs.npmjs.com/cli/v6/using-npm/config?v=true#loglevel
loglevel="http"

